body {
  margin: 0;
  font-family: 'Kalam', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background-image:url(https://images.pexels.com/photos/219998/pexels-photo-219998.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);  /* fallback for old browsers */
    background-repeat: no-repeat;
    background-size: cover;
    background-position:cover;
    min-height: 100vh;
    background-attachment: fixed;
}
body:before {
content: "";
width:100%;
min-height: 100vh;
position: absolute;
top: 0;
left: 0;

background: linear-gradient(90deg,rgb(230, 176, 176),black);
opacity: .5;
z-index:-1;


}

p {
  font-size: 1.1rem;
}

nav {
  display: flex;
  padding: 1rem 0;
  background: rgb(245,244,219);
  background: linear-gradient(278deg, rgba(245,244,219,1) 0%, rgba(214,166,5,1) 89%);
}

nav section {
  width: 100%;
}

nav a {
  font-weight: 700;
  padding: 1rem 1.5rem;
  border-radius: 4px;
}

nav a:first-of-type {
  margin-left: -1.5rem;
}

nav a:hover {
  background: rgb(212, 164, 6);
  border-radius: 50px;
  transition: 0.5s;
}

a {
  color: #070116;
  text-decoration: none;
}

section {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.5rem;
}

section h1 {
  font-size: 3rem;
}

input, select, textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f5e9e9;
  resize: none;
}

.question h2 {
  font-size: 2.5rem;
}

.question-excerpt {
  padding: 1.5rem 0;
  border-bottom: 1px solid #eee;
}

.question-excerpt:first-of-type {
  padding-top: 0;
}

.question-excerpt h2 {
  margin-top: 0;
  font-size: 1.5rem;
}


.button {
  display: inline-block;
  background: rgb(2,0,36);
  background:  rgb(194, 151, 12) 50%;
  color: rgb(17, 1, 1);
  border-radius: 4px;
  font-weight: 700;
  padding: 0.75rem 1.5rem;
}

.right {
  float: right;
}

.category-question{
  text-decoration: underline;
}

.vote-button{
  padding: .4rem;
  margin: .15rem;
  border-radius: 15px;
  border: 1px solid #8f8500;
  font-size: 17px;
  outline: none;
}

.vote-button:hover{
  transition: .4s;
  background-color: rgb(180, 182, 53);
}

/* contenedor de respuesta y puntos */
.answer {
  background: #f7f6f0;
  border-radius: 4px;
  padding: 1rem 1.5rem;
  margin: 1rem 0;
  opacity: 0.85;
  display: flex;
  justify-content: space-between;
}

.respuesta{
  margin: 0;
  padding:0;
  width: auto;
  overflow: auto;
}
.answer-points{
  padding: 10px;
  height: auto;
  max-width: 600px;
}